<h1>오늘 밤</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/j2o6jXrLHbY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>
모두 잠든 밤이면</br>
또 어김없이 찾아오네요</br>
우울해지는 밤이죠</br>
그저 멍하니 생각만 해요</br>
혼자인 것만 같은 날이면</br>
눈물이 나요</br>
아마 아쉬움이겠죠</br>
이미 지나온 내 날들에</br>
</p>
<p>
항상 외롭고 항상 서러워</br>
항상 힘들고 항상 속상해</br>
변해버린 이 내 모습이</br>
익숙지는 않네요</br>
항상 외롭고 항상 서러워</br>
항상 힘들고 또 항상 속상해</br>
내일은 괜찮아질 거야</br>
</p>
<p>
가득 찬 이 술잔만</br>
내 벗인 것만 같아서</br>
한참을 바라보고</br>
말도 걸어보고 비워내요</br>
</p>
<p>
항상 외롭고 항상 서러워</br>
항상 힘들고 항상 속상해</br>
변해가는 이 내 모습이</br>
반갑지는 않네요</br>
항상 외롭고 항상 서러워</br>
항상 힘들고 또 항상 속상해</br>
내일은 괜찮아질 거야</br>
</p>