<h1>From Mark</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/rDAkBQswLHs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>
  남겨진 바다에 버려진 병처럼</br> 
  멈출 수가 없어 닿을 수도 없어</br> 
  차라리 부서져 가라앉는 다면</br> 
  조금은 편하게 살 수 있을 텐데</br> 
  자꾸 흘러서 점점 멀어져</br> 
</p>
<p>
  힘껏 달려도 또 제자리에 있어 난</br> 
  I will fly 날 밀어내는 너라는 파도와</br> 
  날 조여오는 기억의 바람과</br> 
  날 묶어버릴 남겨진 시간들</br> 
</p>
<p>
  모든 건 멈췄어 시간은 닫혔어</br> 
  기억이란 감옥 불타버린 희망</br> 
  추억이 나타나 흔적에 닿으면</br> 
  머리칼을 뜯고 소리를 지르다</br> 
  니가 넘쳐서 숨이 막혀와</br> 
  힘껏 달려도 늘 닿을 수가 없어 난</br> 
</p>
<p>
  I will fly 날 밀어내는 너라는 파도와</br> 
  날 조여오는 기억의 바람과</br> 
  날 묶어버릴 남겨진 시간들</br> 
</p>
<p>
  I will fly From mark</br> 
  I will fly From mark
</p>