<h1>소나기</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/rD8iXrvL2EY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>
멋대로 날 찾아와서</br>
모든 걸 다 적시고</br>
내 마음도 짙어져 널 원할 때쯤에</br>
이내 떠나 가버렸던</br>
네가 아직 그리워</br>
그 때 조금 더 젖게 내버려 둘 걸</br>
</p>
<p>
어디서부터 어떻게 시작해야 할까</br>
너의 흔적들을 지우는 일</br>
우리 함께였던 시간이 길지 않은데</br>
넌 참 많은 걸 남기고 갔네</br>
</p>
<p>
아직 하지 못한 말들이 너무 많아</br>
네게 주지 못한</br>
맘들 갈 곳을 잃었나 봐</br>
조금만 조금만 내게 머물러서</br>
모두 가져줄 순 없을까</br>
</p>
<p>
후회에 젖은 추억은</br>
한껏 무게를 더해가</br>
혼자 짊어지기엔 버거워</br>
나약해진 내가</br>
억지로 삼켜냈던</br>
너를 토해내듯 부르다</br>
네 기억위로 지쳐 잠이 들죠</br>
</p>
<p>
멋대로 날 찾아와서</br>
모든 걸 다 적시고</br>
내 마음도 짙어져 널 원할 때쯤에</br>
이내 떠나 가버렸던</br>
네가 아직 그리워</br>
그 때 조금 더 젖게 내버려 둘 걸</br>
</p>
<p>
너가 빠져버린 하루에 채워진 공허함</br>
또 숨 막힐 듯 날 몰아세우는 고요가</br>
익숙해질 수도 있을까 무뎌진다는 건</br>
괜찮은 게 아니라 참는다는 거</br>
</p>
<p>
널 그리워할수록 더 잃어가는 기분</br>
모래를 움켜쥔 듯 흘러내리는 맘을</br>
추스릴 방법이 떠오르지 않아</br>
너에게 잠겨 난 떠오르지 않아</br>
</p>
<p>
엉망으로 흐트러져 취해 또 쓰러져</br>
사랑은 흩어진 주제에 날 무너뜨려</br>
언제까지 너를 견뎌낼 수 있을까</br>
어두워진 맘엔 빛이 들 수 있을까</br>
</p>
<p>
모두 묻어내고 싶다며</br>
더욱 더 파고 들어가</br>
다 잊어낼 거라며 더 선명히 새겨가</br>
피해 숨고 싶다며 도망치고 싶다며</br>
오늘도 이별 그 주위를 서성이잖아</br>
</p>
<p>
멋대로 날 찾아와서</br>
모든 걸 다 적시고</br>
내 마음도 짙어져 널 원할 때쯤에</br>
이내 떠나가 버렸던</br>
네가 아직 그리워</br>
그 때 조금 더 젖게 내버려 둘 걸</br>
</p>
<p>
널 그리워하는 만큼 쉽게</br>
닫히지 않는 보랏빛 새벽</br>
고요해서 더 크게 들리는</br>
마음 속 말들 보고 싶다</br>
</p>
<p>
멋대로 날 찾아와서</br>
모든 걸 다 적시고</br>
내 마음도 짙어져 널 원할 때쯤에</br>
이내 떠나 가버렸던</br>
네가 아직 그리워</br>
그 때 조금 더 젖게 내버려 둘 걸</br>
</p>
<p>
갑작스레 내리는 소나기에</br>
</p>